chromadb
requests
markdown
bs4
transformers
langchain
pydantic
fastapi
torch==2.6.0  # Remove +cpu unless extra index is provided
uvicorn[standard]
redis
pdfplumber
numpy<2
sentence-transformers
qdrant-client[http]>=1.6.0
python-dotenv
einops
openai
tqdm
aiohttp
python-magic
colorama
anthropic